[user]
	name = Gitea
	email = gitea@fake.local
[core]
	quotePath = false
	commitGraph = true
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[gc]
	writeCommitGraph = true
[fetch]
	writeCommitGraph = true
[safe]
	directory = *
[uploadpack]
	allowfilter = true
	allowAnySHA1InWant = true
